@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-light-blue: #11b0ff;
  --color-dark-header: rgb(16, 24, 28);
  --color-dark-black: #171c21;
  --color-dark-gray: #26292b;
  --color-text: #c6c4c4;
}

@layer base {
  body {
    color: var(--color-text);
    background: var(--color-dark-gray);
    @apply text-sm;
  }
}

@layer components {
  .ec_container {
    height: 100vh;
    @apply w-full;
  }
  .btn {
    @apply rounded px-1.5 py-1.5;
  }
  .btn-primary {
    @apply btn bg-blue-500 text-white hover:bg-blue-400;
  }
  .btn-gray {
    @apply bg-gray-400 text-white;
  }
  .btn-gray:hover {
    @apply bg-gray-700;
  }
  .table_cells {
    @apply border border-gray-600 px-2 py-2;
  }
}

@layer utilities {
  .bg_native {
    background: var(--color-dark-gray);
  }
  .draggable {
    -webkit-app-region: drag;
  }
  .no_draggable {
    -webkit-app-region: no-drag;
  }
  .bg-header {
    background: var(--color-dark-header);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
